# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/app/delight-release.jks
android/key.properties
android/.gradle
android/captures/
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/**/gradle-wrapper.jar

# iOS
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/

# Web

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig

# Misc
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.log
pubspec.lock
